services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      KAFKA_OPTS: "-Xms128m -Xmx128m"
    logging:
      driver: "none"

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_HEAP_OPTS: "-Xms256m -Xmx256m"
    logging:
      driver: "none"

  app:
    build: .
    container_name: rag_app
    depends_on:
      - kafka
      - redis
    volumes:
      - ./rag_news:/app/rag_news
      - ./output:/app/output
      - ./vector_store:/app/vector_store
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "kafka:29092"
      LLM_PROVIDER: "lmstudio"
      LMSTUDIO_BASE_URL: "http://host.docker.internal:1234"
      REDIS_URL: "redis://redis:6379/0"
    env_file:
      - .env
    command: python -m rag_news.main
